<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>映画紹介</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/introduce_movie.css" />
</head>
<body>
  <%- include("./set/header"); %>
  <div class="introduce-movie-whole-wrapper">
    <h1 class="introduce-movie-title"><%= movieinfo[0].title %></h1>
    <div class="introduce-movie-movie-img"><img src="/movies/mov<%= movieinfo[0].movieid %>.png" alt="<%= movieinfo.title %>"></div>
    <div class="introduce-movie-story">
      <p class="introduce-movie-story-text"><%= movieinfo[0].synopsis %></p>
      <a href="/vote"><button class="introduce-movie-back">投票に戻る</button></a>
    </div>
  </div>
<script>
</script>
</body>
</html>