<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>支払い情報</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/payment_info.css" />
</head>

<body>
  <%- include("./set/header"); %>
  <main class="payment-info-whole-wrapper">
    <p class="payment-info-title">クレジットカード</p>
    <div class="payment-info-creditcard-wrapper">
      <% creditcards.forEach((creditcard) => { %>
        <p class="payment-info-creditcard-number">
          <% let creditnums = creditcard.creditnumber.match(/.{4}/g); %>
          <%= creditnums[0] %> - <%= creditnums[1] %> -  <%= creditnums[2] %> - <%= creditnums[3] %>
        </p>
        <a href="/payment_info_update"><p class="payment-info-edit">編集</p></a>
        <a href="/payment_info_delete"><p class="payment-info-delete">削除</p></a>
      <% }) %>
    </div>
  
    <a href="payment_info_add"><p class="payment-info-add-creditcard">+ クレジットカードを追加する</p></a>
    <a href="/mypage"><p class="payment-info-goto-mypage">マイページに戻る</p></a>
  </main>
</body>